In [6]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [7]:
 csv_file = "data-csv/player_appearances.csv"
player_appearances = pd.read_csv(csv_file)
player_appearances.head()

,key_id,tournament_id,tournament_name,match_id,match_name,match_date,stage_name,group_name,team_id,team_name,...,away_team,player_id,family_name,given_name,shirt_number,position_name,position_code,starter,substitute,captain
0,1,WC-1970,1970 FIFA World Cup,M-1970-01,Mexico v Soviet Union,1970-05-31,group stage,Group 1,T-44,Mexico,...,0,P-02951,Calderón,Ignacio,1,goal keeper,GK,1,0,0
1,2,WC-1970,1970 FIFA World Cup,M-1970-01,Mexico v Soviet Union,1970-05-31,group stage,Group 1,T-44,Mexico,...,0,P-09033,Peña,Gustavo,3,defender,DF,1,0,1
2,3,WC-1970,1970 FIFA World Cup,M-1970-01,Mexico v Soviet Union,1970-05-31,group stage,Group 1,T-44,Mexico,...,0,P-02770,Pérez,Mario,5,defender,DF,1,0,0
3,4,WC-1970,1970 FIFA World Cup,M-1970-01,Mexico v Soviet Union,1970-05-31,group stage,Group 1,T-44,Mexico,...,0,P-04709,Hernández,Guillermo,6,midfielder,MF,1,0,0
4,5,WC-1970,1970 FIFA World Cup,M-1970-01,Mexico v Soviet Union,1970-05-31,group stage,Group 1,T-44,Mexico,...,0,P-01956,Salgado,Horacio López,10,forward,FW,1,0,0

In [8]:
new_player_appearances = player_appearances[['player_id', 'tournament_id','match_id', 'team_id','starter','substitute','captain']].copy()

In [9]:
new_player_appearances['year']= new_player_appearances['tournament_id'].str.strip().str[-4:]
new_player_appearances = new_player_appearances.loc[(new_player_appearances['year'] > '1997')]
new_player_appearances.head()

,player_id,tournament_id,match_id,team_id,starter,substitute,captain,year
8014,P-07436,WC-1998,M-1998-01,T-09,1,0,0,1998
8015,P-08404,WC-1998,M-1998-01,T-09,1,0,0,1998
8016,P-01321,WC-1998,M-1998-01,T-09,1,0,0,1998
8017,P-02328,WC-1998,M-1998-01,T-09,1,0,0,1998
8018,P-05926,WC-1998,M-1998-01,T-09,1,0,0,1998

In [ ]:
#Connect to local database

protocol = 'postgresql'
username = '<user name>'
password = '<password>'
host = 'localhost'
port = 5432
database_name = '#databasename#'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
insp = inspect(engine)

In [ ]:
insp.get_table_names()

In [ ]:
# Use pandas to load csv converted DataFrame into database

new_customer_data_df.to_sql(name='goals', con=engine, if_exists='append', index=False)