In [6]:
import sqlite3
import pandas as pd
# Create your connection.
cnx = sqlite3.connect('worldcup.db')

In [7]:
# create a cursor
cursor = cnx.cursor()

# execute the query
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# retrieve the results
results = cursor.fetchall()

# print the table names
for table in results:
    print(table[0])

formats
tournaments
confederations
teams
players
managers
referees
stadiums
matches
awards
qualified_teams
squads
manager_appointments
referee_appointments
team_appearances
player_appearances
manager_appearances
referee_appearances
goals
penalty_kicks
bookings
substitutions
host_countries
tournament_stages
groups
group_standings
tournament_standings
award_winners

In [8]:
df = pd.read_sql_query("SELECT * FROM tournaments", cnx)

In [9]:
df.head()

,tournament_id,tournament_name,year,start_date,end_date,host_country,winner,host_won,count_teams,group_stage,second_group_stage,final_round,round_of_16,quarter_finals,semi_finals,third_place_match,final
0,WC-1930,1930 FIFA World Cup,1930,-14417,-14400,Uruguay,Uruguay,1,13,1,0,0,0,0,1,0,1
1,WC-1934,1934 FIFA World Cup,1934,-13003,-12989,Italy,Italy,1,16,0,0,0,1,1,1,1,1
2,WC-1938,1938 FIFA World Cup,1938,-11534,-11519,France,Italy,0,15,0,0,0,1,1,1,1,1
3,WC-1950,1950 FIFA World Cup,1950,-7131,-7109,Brazil,Uruguay,0,13,1,0,1,0,0,0,0,0
4,WC-1954,1954 FIFA World Cup,1954,-5678,-5660,Switzerland,West Germany,0,16,1,0,0,0,1,1,1,1